src/main/mule/poc92.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="cd57a31c-1e9c-43f9-8893-51eedb111e21" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="poc92Flow" doc:id="951bf207-4803-4eca-af1b-d2bfc52635e7" >
		<http:listener doc:name="Listener" doc:id="2ee4c1d5-fa81-4771-90d3-4af27dab0479" config-ref="HTTP_Listener_config" path="/poc92"/>
		<set-payload value='#["hi I am working on git hub"]' doc:name="Set Payload" doc:id="56b036a7-4b79-4e98-b489-6ab2725c1c70" />
		<logger level="INFO" doc:name="Logger" doc:id="ec0d3580-0e64-46ae-93d8-80c2cf045e9c" message="#[payload]"/>
	</flow>
</mule>
